:root {
  --primary-mid: #8257e5;
  --primary-light: #996dff;
  --background: #121214;
  --input-surface: #202024;
  --text-secondary: #7c7c8a;
  --text-primary: #ffffff;

  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
